@{
    ViewData["Title"] = "Home Page";
}



<div class="homeContainer">
    <div class="homeContent">
        <h1>ColorManager</h1>
        <div class="colorManagerIntro">
            <p>Find your favorite palettes</p>
        </div>
    </div>
</div>
