@model ColorManagerv2.Models.Color

@{
    ViewData["Title"] = "Create";
}

<div class="createContainer">
    <div class="createContent">
        <h1>Create</h1>
        <p>(Click)</p>
            <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <section>
                <div class="createInput">
                    <input type="color" asp-for="Color1" class="form-control" />
                    <span asp-validation-for="Color1" class="text-danger"></span>
                </div>
                <div class="createInput">
                    <input type="color" asp-for="Color2" class="form-control" />
                    <span asp-validation-for="Color2" class="text-danger"></span>
                </div>
                <div class="createInput">
                    <input type="color" asp-for="Color3" class="form-control" />
                    <span asp-validation-for="Color3" class="text-danger"></span>
                </div>
            </section>
            <div class="createSubmit">
                <input type="submit" value="Submit"/>
            </div>
            <a asp-action="Index" class="returnButton">Regresar</a>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
